<div class="section-title">TJEF Stories</div>
<div id="spotlight-intro">TJEF has a bandwidth of approximately thirty-five current John Ernest Fellows, globally. We usually showcase ten stories to illustrate our expanse.</div>
{{>dots dots=dots}}
<div class="spotlight-picture {{spotlight.class}}{{#if moreImages}} more-images{{/if}}">
  {{#if img.isYoutube}}
  <div class="spotlight-img">
    <iframe src="{{img.url}}" frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
  </div>
  {{else}}
  <div class="spotlight-img"><img class="spotlight-media {{img.orientation}}" src="{{img.url}}" /></div>
    {{#if moreImages}}
      <div class="spotlight-overlay">
        <div class="image-select"><img class="shake-horizontal" src="./img/green_arrow.png" /></div>
        {{#each previews}}
        <div class="preview"><img src="{{this.url}}"/></div>
        {{/each}}
      </div>
    {{/if}}
  {{/if}}
</div>
<div class="spotlight-caption">{{{img.caption}}}</div>
<div class="spotlight-description">{{{spotlight.description}}}</div>
